.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #101828;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  color: #101828;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

h2 {
  color: #101828;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
}

h3 {
  color: #101828;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
}

h4 {
  color: #101828;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

h5 {
  color: #101828;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

h6 {
  color: #101828;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

p {
  color: #475467;
  margin-bottom: 10px;
  line-height: 24px;
}

a {
  color: #344054;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 8px;
  padding-left: 0;
  list-style-type: none;
}

li {
  min-height: 16px;
  color: #475467;
  background-image: url('../images/list-bullet.svg');
  background-position: 0 7px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 10px;
  padding-left: 20px;
  line-height: 24px;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

strong {
  font-weight: 700;
  line-height: 24px;
}

em {
  font-style: italic;
  line-height: 24px;
}

blockquote {
  color: #475467;
  border-left: 5px solid #667085;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 24px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 4px;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 100%;
  max-width: 400px;
  text-align: center;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.ds-nav {
  width: 100%;
  background-color: #fff;
  border: 0 #000;
  border-right-color: rgba(0, 0, 0, 0);
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  overflow: visible;
}

.ds-menu-brand {
  color: #fff;
  margin-top: 14px;
  margin-bottom: 14px;
  text-decoration: none;
}

.ds-menu {
  max-height: 80vh;
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  overflow: auto;
}

.ds-menu-link {
  width: 100%;
  color: #667085;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 27px;
  font-size: 16px;
  text-decoration: none;
}

.ds-menu-link:hover {
  background-color: #f7f7f7;
}

.ds-menu-link.w--current {
  color: #101828;
  background-color: #f2f4f7;
  font-weight: 400;
}

.ds-section {
  padding: 60px 0 48px;
  font-weight: 400;
}

.ds-section.header {
  color: #101828;
  background-color: #f2f4f7;
  margin-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

.body {
  color: #101828;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.ds-section-header {
  margin-bottom: 50px;
}

.ds-title {
  color: #101828;
  font-weight: 700;
}

.sg-label {
  color: #808c91;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
}

.rich-text {
  text-align: left;
}

.rich-text img {
  object-fit: cover;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-md {
  color: #475467;
  white-space: normal;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.text-md.semibold {
  font-weight: 600;
}

.text-md.semibold.gray-900 {
  color: #101828;
}

.text-md.withe {
  color: #fff;
}

.text-md.withe:hover {
  text-decoration: none;
}

.text-md.withe.absolute {
  position: absolute;
}

.text-md.medium {
  font-weight: 500;
}

.text-md.bold {
  font-weight: 700;
}

.block-quote {
  border-left-color: #667085;
  font-size: 16px;
  line-height: 22px;
}

.sg-block {
  margin-bottom: 32px;
}

._12-columns {
  flex-flow: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
}

._12-columns.align-left {
  justify-content: flex-start;
}

.column {
  min-height: 32px;
  flex-flow: column;
  flex: 0 auto;
  align-items: stretch;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column._9-column {
  width: 75%;
}

.column._4-column {
  width: 33.33%;
}

.ds-colour-block {
  width: 12.5%;
  padding-right: 16px;
  display: inline-block;
}

.ds-colour-grid {
  flex-wrap: wrap;
  margin-top: 24px;
  display: flex;
}

.color-block {
  width: 100%;
  height: 60px;
  background-color: #f9fafb;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

.color-block.neutral-200 {
  background-color: #eaecf0;
}

.color-block.neutral-100 {
  background-color: #f2f4f7;
}

.color-block.neutral-50 {
  background-color: #f9fafb;
}

.color-block.neutral-300 {
  background-color: #d0d5dd;
}

.color-block.neutral-400 {
  background-color: #98a2b3;
}

.color-block.neutral-500 {
  background-color: #667085;
}

.color-block.neutral-600 {
  background-color: #475467;
}

.color-block.neutral-700 {
  background-color: #344054;
}

.color-block.neutral-800 {
  background-color: #1d2939;
}

.color-block.neutral-900 {
  background-color: #101828;
}

.color-block.base-white {
  background-color: #fff;
}

.color-block.base-black {
  background-color: #000;
}

.color-block.error-50 {
  background-color: #fef2f2;
}

.color-block.error-300 {
  background-color: #fca5a5;
}

.color-block.error-500 {
  background-color: #ef4444;
}

.color-block.error-700 {
  background-color: #b91c1c;
}

.color-block.error-900 {
  background-color: #7f1d1d;
}

.color-block.warning-900 {
  background-color: #78350f;
}

.color-block.warning-700 {
  background-color: #b45309;
}

.color-block.warning-500 {
  background-color: #f59e0b;
}

.color-block.warning-300 {
  background-color: #fcd34d;
}

.color-block.warning-50 {
  background-color: #fffbeb;
}

.color-block.success-50 {
  background-color: #f0fdf4;
}

.color-block.success-100 {
  background-color: #dcfce7;
}

.color-block.success-300 {
  background-color: #86efac;
}

.color-block.success-500 {
  background-color: #22c55e;
}

.color-block.success-700 {
  background-color: #15803d;
}

.color-block.success-900 {
  background-color: #14532d;
}

.color-block.warning-100 {
  background-color: #fef3c7;
}

.color-block.error-100 {
  background-color: #ffe4e6;
}

.color-block.secondary-50 {
  background-color: #fefce8;
}

.color-block.secondary-100 {
  background-color: #fef9c3;
}

.color-block.secondary-300 {
  background-color: #fde047;
}

.color-block.secondary-500 {
  background-color: #eab308;
}

.color-block.secondary-700 {
  background-color: #a16207;
}

.color-block.secondary-900 {
  background-color: #713f12;
}

.color-block.primary-50 {
  background-color: #eff6ff;
}

.color-block.primary-100 {
  background-color: #dbeafe;
}

.color-block.primary-300 {
  background-color: #93c5fd;
}

.color-block.primary-500 {
  background-color: #3b82f6;
}

.color-block.primary-700 {
  background-color: #1d4ed8;
}

.color-block.primary-900 {
  background-color: #1e3a8a;
}

.color-block.primary-200 {
  background-color: #bfdbfe;
}

.color-block.primary-400 {
  background-color: #60a5fa;
}

.color-block.primary-600 {
  background-color: #2563eb;
}

.color-block.primary-800 {
  background-color: #1e40af;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #667085;
  border-radius: 4px;
  flex: none;
  margin-bottom: 0;
  padding: 8px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color .2s, color .2s, box-shadow .2s, background-color .2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .03);
}

.button:hover {
  background-color: #475467;
  text-decoration: none;
  box-shadow: 0 7px 20px -10px rgba(0, 0, 0, .2);
}

.button:active {
  background-color: #344054;
}

.button.outline {
  color: #101828;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 1.5px rgba(102, 112, 133, .5);
}

.button.outline:hover {
  background-color: #f9fafb;
  box-shadow: inset 0 0 0 2px #667085;
}

.button.outline:active {
  background-color: #f2f4f7;
}

.button.outline.width-100 {
  width: 100%;
}

.column-styleguide {
  width: 100%;
  height: 40px;
  background-color: #667085;
  border-radius: 6px;
}

.ds-module {
  min-height: 100px;
  min-width: 100px;
  background-color: #667085;
  border-radius: 5px;
  flex-direction: column;
  display: flex;
  position: relative;
}

._2-1-column-grid {
  max-width: none;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

._1-2-column-grid {
  max-width: none;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.visible-spacer {
  background-color: #667085;
  border-radius: 5px;
  display: inline-block;
}

.nav-menu-link {
  color: #667085;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
}

.nav-menu-link.w--current {
  color: #101828;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  padding-left: 32px;
  padding-right: 32px;
  position: static;
}

.container.visible-en-ipad-and-down {
  display: block;
}

._4-column-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

._3-column-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

._2-column-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  justify-content: center;
}

.spacer-16px {
  width: 16px;
  height: 16px;
}

.spacer-24px {
  width: 24px;
  height: 24px;
}

.spacer-32px {
  width: 32px;
  height: 32px;
}

.spacer-48px {
  width: 48px;
  height: 48px;
}

.spacer-64px {
  width: 64px;
  height: 64px;
}

.spacer-80px {
  width: 80px;
  height: 80px;
}

.spacer-96px {
  width: 96px;
  height: 96px;
}

.spacer-128px {
  width: 128px;
  height: 128px;
}

.heading-h1 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.heading-h1.bold {
  font-weight: 700;
}

.heading-h1.medium {
  font-weight: 500;
}

.heading-h1.semibold {
  font-weight: 600;
}

.heading-h2 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
}

.heading-h2.medium {
  font-weight: 500;
}

.heading-h2.semibold {
  font-weight: 600;
}

.heading-h2.bold {
  font-weight: 700;
}

.heading-h3 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
}

.heading-h3.semibold {
  font-weight: 600;
}

.heading-h3.medium {
  font-weight: 500;
}

.heading-h3.bold {
  font-weight: 700;
}

.heading-h4 {
  color: #101828;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}

.heading-h4.semibold {
  font-weight: 600;
}

.heading-h4.medium {
  font-weight: 500;
}

.heading-h4.bold {
  font-weight: 700;
}

.heading-h5 {
  color: #101828;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.heading-h5.semibold {
  font-weight: 600;
}

.heading-h5.medium {
  font-weight: 500;
}

.heading-h5.bold {
  font-weight: 700;
}

.heading-h5.bold.gray-600 {
  color: #475467;
}

.heading-h6 {
  color: #101828;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.heading-h6.medium {
  font-weight: 500;
}

.heading-h6.semibold {
  font-weight: 600;
}

.heading-h6.bold {
  font-weight: 700;
}

.column-1 {
  width: 8.33%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column-2 {
  width: 16.66%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column-3 {
  width: 25%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.row {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
}

.column-5 {
  width: 41.66%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column-4 {
  width: 33.33%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column-6 {
  width: 50%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column-7 {
  width: 58.3333%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column-8 {
  width: 66.6667%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column-9 {
  width: 75%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column-10 {
  width: 83.33%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column-11 {
  width: 91.66%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column-12 {
  width: 100%;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.footer-main-grid {
  grid-column-gap: 30px;
  grid-row-gap: 42px;
  grid-template: "."
                 "."
                 / 1fr 1fr 1fr;
  align-items: center;
}

.footer-bottom-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
  justify-items: stretch;
  margin-top: 60px;
  margin-bottom: 30px;
}

.grid-column._8px-vertical-space {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  display: flex;
}

.grid-column.margin-top-14px-on-desktop {
  margin-top: 14px;
}

.nav-logo {
  padding-top: 0;
  display: block;
}

.nav-logo-container {
  width: 150px;
  margin-top: 0;
  padding-left: 0;
}

.text-align-right {
  text-align: right;
}

.social-media-icons-list {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  display: flex;
}

.social-media-icon-link {
  width: 30px;
  height: 30px;
  color: #344054;
  background-color: #f2f4f7;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  transition: background-color .2s;
  display: flex;
}

.social-media-icon-link:hover {
  background-color: #eaecf0;
}

.social-media-icon-link:active {
  background-color: #d0d5dd;
}

.twitter-icon {
  position: relative;
  top: 1px;
  left: 1px;
}

.body-flex {
  flex-direction: column;
  display: flex;
}

.text-lg {
  color: #475467;
  white-space: normal;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.text-lg.medium {
  font-weight: 500;
}

.text-lg.gray-900 {
  color: #101828;
}

.text-lg.semibold {
  font-weight: 600;
}

.text-lg.bold {
  font-weight: 700;
}

.text-sm {
  color: #475467;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text-sm.medium {
  font-weight: 500;
}

.text-sm.semibold {
  font-weight: 600;
}

.text-sm.bold {
  font-weight: 700;
}

.text-sm.gray-700 {
  color: #344054;
}

.main {
  flex: 1;
}

.menu-button-2.w--open {
  background-color: #667085;
}

.facebook-icon {
  position: relative;
  right: 1px;
}

.linkedin-icon {
  background-color: rgba(0, 0, 0, 0);
}

.container-center {
  max-width: 1232px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.spacer-8px {
  width: 8px;
  height: 8px;
}

.changelog-box {
  max-width: 850px;
  color: #fff;
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 20px;
}

.text-field {
  height: 50px;
  border: 1.5px solid rgba(29, 78, 216, .5);
  border-radius: 4px;
}

.text-field:focus {
  border-color: #1d4ed8;
}

.text-area {
  height: auto;
  min-height: 100px;
  border: 1.5px solid rgba(102, 112, 133, .5);
  border-radius: 4px;
  margin-bottom: 20px;
}

.text-area:hover, .text-area:focus {
  border-color: #667085;
}

.success-message {
  color: #344054;
  background-color: #f2f4f7;
  border-radius: 4px;
}

.error-message {
  color: #7f1d1d;
  background-color: #fef2f2;
  border-radius: 4px;
  margin-top: 20px;
}

._404-text {
  color: #101828;
  font-size: 100px;
  line-height: 100px;
}

.field-label {
  display: block;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
  position: relative;
}

.section.no-bottom-padding {
  padding-bottom: 0;
}

.section.no-top-padding {
  padding-top: 0;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.ds-border {
  height: 100%;
  border: 1px solid #101828;
}

.ds-box {
  width: 100%;
  height: 60px;
}

.shadow-01 {
  box-shadow: 0 1px 2px rgba(13, 14, 25, .25), 0 1px 3px 1px rgba(13, 14, 25, .1);
}

.shadow-02 {
  box-shadow: 0 8px 11.5px -2px rgba(13, 14, 25, .1), 0 4px 7.68px -3.84px rgba(13, 14, 25, .12);
}

.overline {
  color: #475467;
  letter-spacing: .06em;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.overline-small {
  color: #475467;
  letter-spacing: .06em;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.nav-menu-links {
  display: flex;
}

.badge {
  color: #101828;
  background-color: #f2f4f7;
  border-radius: 16px;
  padding: 2px 10px;
  display: inline-block;
}

.featured-icon {
  width: 56px;
  height: 56px;
  background-color: #f2f4f7;
  border-radius: 28px;
  justify-content: center;
  align-items: center;
  padding: 13px;
  display: flex;
}

.text-align-center {
  text-align: center;
}

.nav-menu-text {
  color: #fff;
  text-transform: none;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.link {
  color: #344054;
  font-weight: 500;
}

.link:hover {
  color: #101828;
}

.accordion-content {
  background-color: rgba(0, 0, 0, 0);
  display: block;
  position: relative;
}

.accordion-content.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.accordion-inner {
  width: 100%;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 32px 24px;
  display: flex;
}

.accordion {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.accordion-toggle {
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #d0d5dd;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  display: flex;
}

.accordion-icon {
  width: 50px;
  border-bottom: 1px solid #101828;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-bottom: -1px;
  display: flex;
}

.accordion-container {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.accordion-title-text {
  padding-top: 16px;
  padding-bottom: 16px;
}

.ds-page {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.hero-image-container {
  width: 100%;
  height: 60vh;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-image-cover-white {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.hero-image {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
}

.hero-text-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  margin-top: 75px;
  display: flex;
}

.collection-list {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-post-title-container {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 35px;
  grid-auto-columns: 1fr;
  display: grid;
}

.blog-post-arrow-container {
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 7px;
  display: flex;
  position: relative;
}

.arow-two {
  z-index: 2;
  position: absolute;
}

.arrow-one {
  position: absolute;
}

.blog-image-container {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.blog-image-overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 24, 40, .4);
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.blog-read-circle {
  z-index: 3;
  width: 80px;
  height: 80px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .4);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
}

.blog-read-circle.shadow-01 {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, .5);
  display: none;
}

.masonry-grid-image {
  width: 100%;
  cursor: pointer;
  margin-bottom: 24px;
  display: inline-block;
}

.masonry-grid-image.reel {
  display: block;
}

.masonry-grid-tabs {
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 64px;
  display: flex;
}

.masonry-grid-tab {
  color: #98a2b3;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 600;
}

.masonry-grid-tab.w--current {
  color: #101828;
  background-color: rgba(0, 0, 0, 0);
}

.contact-page-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  align-items: start;
  margin-top: 20px;
  margin-bottom: 96px;
}

.form-text-field {
  height: 50px;
  border: 1.5px solid rgba(102, 112, 133, .5);
  border-radius: 4px;
}

.form-text-field:hover, .form-text-field:focus {
  border-color: #667085;
}

.contact-form {
  width: 100%;
  margin-bottom: 0;
}

.form-label-and-field-container {
  width: 100%;
}

.image-with-corners {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 64px;
  border-bottom-right-radius: 64px;
}

.corners-image {
  height: 100%;
  padding: 24px;
  display: block;
  position: relative;
}

.image-corner-top {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.image-corner-bottom {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.blog-post-header-container {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.blog-post-header-background {
  z-index: -1;
  width: 100%;
  height: 110%;
  background-color: #f9fafb;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-top: -90px;
  display: block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.image-with-corners-container {
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 64px;
  border-bottom-right-radius: 64px;
  position: relative;
  overflow: hidden;
}

.image-with-corners-overlay-white {
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.image-with-corners-overlay-gray {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #f2f4f7;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.about-grid-column {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  display: flex;
}

.display-2 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Syne, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.display-2.margin-bottom-10px {
  margin-bottom: 10px;
}

.signature {
  font-family: Sacramento, sans-serif;
  font-size: 50px;
  line-height: 60px;
}

.about-me-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
}

.footer-line {
  width: 100%;
  height: 1px;
  color: #667085;
  background-color: #d0d5dd;
}

.animation-rotate-text-container {
  position: relative;
  overflow: hidden;
}

.image-with-corners-overlay-gray-50-copy {
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.footer-menu-two {
  justify-content: center;
  display: flex;
}

.project-image-container {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: visible;
}

.project-image-hover-overlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.project-image-circle-container {
  width: 80px;
  height: 80px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, .15);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.project-image-circle-container.shadow-01 {
  z-index: 2;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, .5);
  display: none;
}

.project-image-hover-overlay-background {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 24, 40, .4);
  display: none;
  position: absolute;
}

.collage-image-cotainer {
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.collage-image-cotainer.is-1th {
  width: 33%;
  height: 60%;
}

.collage-image-cotainer.is-2th {
  width: 25%;
  height: 100%;
}

.collage-image-cotainer.is-3th {
  width: 40%;
  height: 45%;
}

.collage-image-cotainer.is-4th {
  width: 25%;
  height: 100%;
}

.collage-image-cotainer.is-5th {
  width: 35%;
  height: 60%;
}

.photo-collage-row-one {
  width: 100%;
  height: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.photo-collage-row-two {
  width: 100%;
  height: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.photo-collage-text-animation {
  padding: 10px;
  position: relative;
}

.masonary-grid-container {
  column-count: 4;
}

.masonary-grid-container.video-large {
  column-count: 1;
}

.masonary-grid-container.reels {
  column-count: 2;
}

.collection-list-wrapper {
  display: block;
}

.masonary-image {
  width: 100%;
  max-height: 600px;
  min-height: 200px;
  object-fit: cover;
}

.masonary-image.reel-thumbnail {
  max-height: 800px;
}

.collage-image {
  width: 110%;
  height: 110%;
  max-width: none;
  object-fit: cover;
  position: absolute;
}

.footer-nav-menu-links {
  display: flex;
}

.footer-logo-container {
  width: 150px;
}

.container-blog-post {
  max-width: 900px;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  position: static;
  overflow: hidden;
}

.blog-image-link {
  width: 100%;
  height: 252px;
  display: block;
}

.contact-us-image-container {
  height: 100%;
  max-height: 640px;
  min-height: 500px;
}

.blog-post-image-container {
  max-height: 400px;
  min-height: 300px;
}

.mobile-menu {
  z-index: 1001;
  width: 100vw;
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #475467;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: none;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  overflow: hidden;
}

.mobile-menu-line-container {
  flex: 1;
  justify-content: center;
  display: flex;
}

.mobile-menu-line {
  width: 2px;
  height: 100%;
  background-color: #475467;
}

.mobile-menu-social-icons-container {
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
}

.mobile-menu-links-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
}

.mobile-menu-link {
  color: #98a2b3;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  display: block;
}

.mobile-menu-link.w--current {
  color: #fff;
}

.mobile-menu-container {
  z-index: 1001;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.overflow-hidden {
  overflow: hidden;
}

.mobile-menu-close-button {
  cursor: pointer;
  margin-top: 12px;
  margin-right: 12px;
  padding: 12px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.mobile-menu-background-two {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #1d2939;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.nav-bar-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
}

.nav-bar.position-absolute {
  z-index: 1;
  width: 100%;
  position: absolute;
}

.nav-menu-mobile {
  cursor: pointer;
  display: none;
}

.empty-state {
  background-color: rgba(0, 0, 0, 0);
}

.heading-animation-trigger {
  overflow: hidden;
}

.animation-content {
  height: 100%;
}

.animation-swipe-reveal-overlay {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.arrow-overflow-hidden {
  height: 35px;
  overflow: hidden;
}

.animation-rotate-text-two {
  position: absolute;
}

.footer-social-media-icons-list {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  display: flex;
}

.photo-collage {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.photo-collage-text-container {
  z-index: 10;
  position: absolute;
}

.photo-collage-images-container {
  width: 100%;
  height: 700px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-direction: column;
  display: flex;
  position: relative;
}

.hero-text-container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 15px;
  display: flex;
}

.animated-arrow-button-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  cursor: pointer;
  justify-content: flex-end;
  padding: 0 10px;
  display: flex;
  overflow: hidden;
}

.button-arrow {
  width: 40px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}

.button-arrow-body {
  width: 100%;
  height: 1.5px;
  background-color: #101828;
}

.button-arrow-head {
  margin-top: -1px;
  margin-right: -2px;
  position: absolute;
}

.pexels-images {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pexel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.button-container {
  justify-content: flex-end;
  margin-top: 20px;
  display: flex;
}

.animated-arrow-button {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: letter-spacing .6s cubic-bezier(.165, .84, .44, 1);
}

.animated-arrow-button:hover {
  letter-spacing: .1rem;
}

.hero-title {
  margin-bottom: 0;
  font-family: Syne, sans-serif;
  font-size: 78px;
  font-weight: 700;
  line-height: 1.1em;
}

.photo-collage-text {
  font-family: Syne, sans-serif;
  font-size: 54px;
  font-weight: 800;
  line-height: 1.1em;
}

.center-main-section {
  width: 100vw;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 4px;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph-400px {
  max-width: 400px;
}

@media screen and (max-width: 991px) {
  .ds-nav {
    width: 100%;
    height: 63px;
  }

  .ds-menu-brand {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
  }

  .ds-menu {
    width: 100%;
    color: #fff;
    background-color: #fff;
    padding-bottom: 20px;
    position: absolute;
    box-shadow: 1px 1px 3px #d0d5dd;
  }

  .ds-menu-link {
    width: 100vw;
    border-bottom: 1px #e6e6e6;
    padding: 12px 20px;
    transition: background-color .2s;
  }

  .ds-menu-link:hover {
    background-color: rgba(173, 173, 173, .07);
  }

  .sg-block {
    margin-bottom: 40px;
  }

  ._12-columns {
    flex-flow: wrap;
  }

  .column {
    width: 50%;
  }

  .button {
    position: relative;
  }

  ._2-1-column-grid, ._1-2-column-grid {
    margin-left: 0;
  }

  .nav-menu-link {
    border-bottom: 1px #e2e2e2;
  }

  .nav-menu-link.last {
    border-bottom-width: 0;
  }

  .container.visible-en-ipad-and-down {
    display: block;
  }

  ._4-column-grid {
    grid-template-columns: 1fr 1fr;
  }

  ._3-column-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .spacer-48px {
    display: block;
  }

  .heading-h5.bold.gray-600 {
    color: #101828;
  }

  .footer-main-grid {
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    grid-template: "."
                   "."
                   / 1fr 1fr;
  }

  .grid-column.margin-top-14px-on-desktop {
    margin-top: 0;
  }

  .twitter-icon {
    color: rgba(0, 0, 0, 0);
  }

  .menu-button-2.w--open {
    background-color: #3b82f6;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .nav-menu-links {
    display: none;
  }

  .hero-text-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: row;
    margin-top: 10px;
  }

  .collection-list {
    grid-template-columns: 1fr 1fr;
  }

  .arow-two {
    display: none;
  }

  .arrow-one {
    display: block;
  }

  .contact-page-grid {
    grid-template-columns: 1fr;
    margin-top: 10px;
  }

  .blog-post-header-container, .about-me-grid {
    grid-template-columns: 1fr;
  }

  .photo-collage-row-one, .photo-collage-row-two {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .masonary-grid-container {
    column-count: 3;
  }

  .masonary-image {
    min-height: 175px;
  }

  .collage-image {
    height: 120%;
  }

  .contact-us-image-container {
    max-height: 550px;
    min-height: 300px;
  }

  .blog-post-image-container {
    max-height: 400px;
  }

  .nav-bar-container {
    margin-top: 0;
    margin-bottom: 0;
  }

  .nav-menu-mobile {
    margin-right: -18px;
    padding: 18px;
    display: block;
  }

  .photo-collage-images-container {
    height: 70vw;
    grid-column-gap: 4.5vw;
    grid-row-gap: 4.5vw;
  }

  .hero-text-container {
    padding-top: 10px;
  }

  .pexel-image {
    height: 200px;
  }

  .hero-title {
    font-size: 6.5vw;
  }

  .photo-collage-text {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
  }

  h5 {
    line-height: 28px;
  }

  h6 {
    line-height: 24px;
  }

  ._12-columns {
    flex-wrap: wrap;
  }

  .column._4-column {
    width: 100%;
  }

  .ds-colour-block {
    width: 25%;
  }

  .button.outline {
    cursor: pointer;
    box-shadow: inset 0 0 0 1.5px rgba(102, 112, 133, .5);
  }

  .button.outline:hover {
    background-color: #f9fafb;
    box-shadow: inset 0 0 0 2px #667085;
  }

  .button.outline:active {
    background-color: #f2f4f7;
  }

  ._2-1-column-grid, ._1-2-column-grid {
    grid-template-columns: 2fr;
    margin-left: 0;
  }

  ._3-column-grid {
    grid-template-columns: 1fr;
  }

  .heading-h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .heading-h1.bold {
    color: #98a2b3;
  }

  .heading-h1.bold.w--current {
    color: #fff;
  }

  .heading-h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .heading-h3 {
    font-size: 28px;
    line-height: 36px;
  }

  .heading-h5 {
    line-height: 28px;
  }

  .heading-h6 {
    line-height: 24px;
  }

  .footer-main-grid {
    grid-template: "Area Area"
                   ". ."
                   / 1fr 1fr;
    grid-auto-flow: row;
  }

  .nav-logo-container {
    width: 120px;
  }

  .menu-button-2 {
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-button-2.w--open {
    background-color: #2d99ff;
  }

  .nav-menu-links {
    display: none;
  }

  .accordion-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-image-container {
    height: 50vh;
  }

  .hero-text-grid {
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .masonry-grid-tabs {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    display: flex;
    position: relative;
  }

  .masonry-grid-tab {
    text-align: center;
  }

  .contact-page-grid, .blog-post-header-container {
    grid-template-columns: 1fr;
  }

  .display-2 {
    font-size: 36px;
    line-height: 44px;
  }

  .signature {
    font-size: 40px;
    line-height: 60px;
  }

  .photo-collage-row-one, .photo-collage-row-two {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .masonary-grid-container {
    column-count: 2;
  }

  .masonary-image {
    max-height: 300px;
  }

  .container-blog-post {
    margin-top: 0;
  }

  .contact-us-image-container {
    max-height: 500px;
  }

  .blog-post-image-container {
    max-height: 300px;
    min-height: 200px;
  }

  .mobile-menu {
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu-close-button {
    cursor: pointer;
  }

  .nav-menu-mobile {
    cursor: pointer;
    display: block;
  }

  .photo-collage-images-container {
    grid-column-gap: 6vw;
    grid-row-gap: 6vw;
  }

  .pexels-images {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero-title {
    font-size: 11.5vw;
  }

  .photo-collage-text {
    font-size: 6vw;
  }
}

@media screen and (max-width: 479px) {
  .ds-nav {
    display: block;
  }

  .ds-section {
    padding-left: 0;
    padding-right: 0;
  }

  .text-md.text-align-right.text-aling-left-on-mobile {
    text-align: left;
  }

  .column {
    margin-bottom: 0;
  }

  .color-block {
    margin-bottom: 20px;
  }

  .button {
    width: 100%;
    font-size: 16px;
  }

  .nav-menu-link {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-menu-link.w--current {
    background-color: #fff;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  ._4-column-grid, ._3-column-grid {
    grid-template-columns: 1fr;
  }

  .footer-main-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template: "."
                   "."
                   "."
                   / 1fr 1.25fr;
    grid-auto-columns: 1fr;
    justify-items: center;
  }

  .footer-bottom-grid {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .nav-logo-container {
    padding-left: 0;
  }

  .social-media-icons-list {
    margin-top: 20px;
  }

  ._404-text {
    font-size: 60px;
  }

  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .collection-list {
    grid-template-columns: 1fr;
  }

  .masonry-grid-tabs {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .corners-image {
    padding: 0;
  }

  .image-corner-top, .image-corner-bottom {
    display: none;
  }

  .blog-post-header-container {
    grid-template-columns: 1fr;
  }

  .footer-line {
    display: none;
  }

  .masonary-image {
    max-height: 200px;
    min-height: 100px;
  }

  .footer-nav-menu-links {
    flex-direction: column;
    margin-left: -20px;
  }

  .container-blog-post {
    padding-left: 16px;
    padding-right: 16px;
  }

  .nav-menu-mobile {
    margin-right: -16px;
    display: block;
  }

  .footer-social-media-icons-list {
    margin-top: 20px;
  }

  .photo-collage-text-container {
    display: block;
  }

  .photo-collage-images-container {
    height: 400px;
  }

  .pexels-images {
    grid-template-columns: 1fr 1fr;
  }

  .pexel-image {
    height: 100px;
  }
}

#w-node-_3e705d77-dc26-b757-211e-55768c1dc781-f84b959e, #w-node-_2aeba2ad-0aa7-8f1e-7745-64281e427862-f84b959e, #w-node-_2aeba2ad-0aa7-8f1e-7745-64281e427864-f84b959e, #w-node-_4e365414-d5d6-3d0b-b928-19c39799570a-97995707 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1d51c555-825d-ebf1-aa6d-0bb9f6e1dcd4-97995707 {
  justify-self: center;
}

#w-node-_4e365414-d5d6-3d0b-b928-19c39799575f-97995707 {
  justify-self: end;
}

#w-node-a6ba56b1-38d1-ba41-c5f1-fa09e479356a-97995707 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_2c580d8f-c112-6fbd-f102-8b33d4e061c2-bc4b95a9, #w-node-_5ed9d32e-3be1-13f2-dcf4-b5bdf2e7d860-bc4b95a9, #w-node-_3580e494-3df4-cf64-36f3-ebacec563b72-bc4b95a9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_1d51c555-825d-ebf1-aa6d-0bb9f6e1dcd4-97995707 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }

  #w-node-_4e365414-d5d6-3d0b-b928-19c39799575f-97995707 {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
  }

  #w-node-a6ba56b1-38d1-ba41-c5f1-fa09e479356a-97995707 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_9dff417f-86be-9d18-e0a0-4a98d29d9ead-97995707 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_4e365414-d5d6-3d0b-b928-19c39799570a-97995707 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_1d51c555-825d-ebf1-aa6d-0bb9f6e1dcd4-97995707 {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
  }

  #w-node-_4e365414-d5d6-3d0b-b928-19c39799575f-97995707 {
    grid-area: 3 / 1 / 4 / 3;
    justify-self: start;
  }
}


